@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-ExtraLightItalic.woff2')
		format('woff2');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-LightItalic.woff2')
		format('woff2');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-RegularItalic.woff2')
		format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-MediumItalic.woff2')
		format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-SemiBoldItalic.woff2')
		format('woff2');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2')
		format('woff2');
	font-weight: 800;
	font-style: italic;
	font-display: swap;
}
