@font-face {
	font-family: 'Atkinson Hyperlegible Next';
	src: url('../Atkinson/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2-variations');
	font-display: swap;
}

@font-face {
	font-family: 'Atkinson Hyperlegible Mono';
	src: url('../Atkinson/AtkinsonHyperlegibleMonoVF-Variable.woff2') format('woff2-variations');
	font-display: swap;
}