<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The Perfect Stack</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="content">
                <nav>
                    <a href="/">The Perfect Stack</a>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {{ content }}
        </div>
    </main>
    <footer>
        <div class="container">
            <div class="content">
                <p>&copy; 2025 Sam Warnick</p>
            </div>
        </div>
    </footer>
</body>
</html>